*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin-bottom: 0;
}
.row {
  margin: 0;
}
p {
  margin: 0;
}
.main_article p, .main_article li{
  margin: 10px 0;
}

img {
  width: 100%;
  margin: 7px 0;
}
h1{
  font-size: 1.6em;
  font-weight: bold;
}
h2{
  font-size: 1.2em;
  font-weight: bold;
}
body {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  line-height: 1.2;
  background-color: #fff;
}
.clearfix:after{
  clear: both;
  content: "";
  display: block;
}




.header_top_line, .extra_menu {
  background-color: #dfdfdf;
}
.header_top_line {
  height: 20px;
}
.header_logo {
  background-color: #f2f2f2;
}
.work_center {
  width: 82%;
  margin: 0 auto;
}
.header_logo .logo {
  float: left;
}
.header_logo .logo a{
  font-size: 32px;
  line-height: 1.6;
  color: #ce2a1b;
}
.header_logo .motiv {
  float: right;
  color: #ce2a1b;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 15px;
}



/*header with nav*/
header {
  background-color: #ce2a1b;
}

header li {
  float: left;
}
header a {
  display: block;
  padding: 0 18px;
  font-size: 19px;
  line-height: 2.6;
  color: #ffffff;
}
header a:hover,
header a.active {
  background-color: #811e17;
}

.extra_menu li {
  float: left;
}

.extra_menu div.enter {
  float: right;
  font-size: 16px;
  line-height: 2.2;
  color: #7a7a7a;
}
.extra_menu li>a {
  text-decoration: underline;
  display: block;
  padding: 0 5px;
  font-size: 16px;
  line-height: 2.2;
  color: #686868;
  margin-left: 30px;
}
.extra_menu div.enter a {
  margin-left: 0;
}
span.user {
  font-weight: bold;
}
.extra_menu li>a:hover,
.extra_menu li>a:active {
  text-decoration: none;
}

.main {
  text-align: justify;
}

.main_article {
  padding: 10px;
}
/*div.main_article:nth-of-type(3){
  padding-right: 0;
}*/
div.main_article:nth-of-type(1){
  font-size: 16px;
}